<style>
  html,
  body {
    height: 100%;
  }

  body {
  /*  display: flex;*/
  /*  align-items: center;*/
  /*  padding-top: 40px;*/
  /*  padding-bottom: 40px;*/
    background-color: #f5f5f5;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
<main class="form-signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 fw-normal text-center">Sign In</h1>
    <div class="form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      <%= f.label :email, class:"form-label" %>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control"  %>
      <%= f.label :password, class:"form-label"  %>
    </div>
    <div class="actions">
      <%= f.submit "Sign in", class:"btn btn-primary" %>
    </div>
  <% end %>
  <div class="mt-3 mb-3">
  <%= render "devise/shared/links" %>
  </div>
</main>
